@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Gabarito:wght@400..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=LINE+Seed+JP&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --accent-blue: #1e78d9;
    --accent-blue-light: #007bff;
    --accent-blue-active: #1e3ad927;
    --accent-orange: #d95f1e;
    --accent-orange-hover: #b94e15;
    --accent-orange-active: #d94a1e1b;
    ;
}

body {
    font-family: 'Funnel Sans', sans-serif;
    background-color: #1C1C1C;
    padding: 0;
    margin: 0;
}

.container-general {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #1F1F1F;
    border-right: 1px solid #767676;
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    margin: 10px;
}

.nav-link {
    text-decoration: none;
    height: 90%;
    color: #ffffff;
    display: flex;
    align-items: center;
    padding: 12px 15px;
    border-radius: 6px;
    transition: 0.2s;
    font-size: 0.95rem;
}

.nav-link-list {
    text-decoration: none;
    height: 90%;
    color: #ffffff;
    display: flex;
    align-items: center;
    padding: 12px 15px;
    border-radius: 6px;
    transition: 0.2s;
    font-size: 0.95rem;
}

.nav-link:hover {
    background-color: var(--accent-blue-active);
    color: var(--accent-blue);
}

.nav-link:hover i {
    filter: drop-shadow(0 0 5px var(--accent-blue-light));
}

.nav-link-list:hover i {
    filter: drop-shadow(0 0 5px var(--accent-orange));
}

.nav-link-list:hover {
    background-color: var(--accent-orange-active);
    color: var(--accent-orange);
}

.nav-link.active {
    background-color: var(--accent-blue-active);
    color: var(--accent-blue);
    font-weight: 700;
}

.nav-link i,
.nav-link-list i {
    margin-right: 10px;
    font-size: 1.1rem;
}

.line {
    height: 1px;
    background-color: #767676;
    margin: 20px 0;
}

.list-h2 {
    font-size: 0.8rem;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 10px;
    padding-left: 12px;
}

.botton-sidebar-add {
    width: 100%;
    background: transparent;
    border: none;
    color: #ffffff;
    display: flex;
    align-items: center;
    padding: 12px;
    cursor: pointer;
    font-weight: 500;
    border-radius: 6px;
    transition: 0.2s;
}

.botton-sidebar-add i {
    margin-right: 10px;
    margin-left: 13px;
    font-size: 1.1rem;
}


.botton-sidebar-add:hover i {
    filter: drop-shadow(0 0 5px #ffffff);
}

.botton-sidebar-add:hover {
    background-color: #2c2c2c;
}

.sidebar-footer {
    margin-top: auto;
}

/* Main para no confundirme con la sidebar */
.main-content {
    flex-grow: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
}

.content-title {
    font-size: 2rem;
    margin: 0;
    color: #ffffff;
}

.content-subtitle {
    font-size: 1rem;
    color: #ffffff;
    margin-top: 5;
}

.task-area {
    margin-top: auto;
    width: 100%;
}

.btn-task-trigger {
    width: 100%;
    background-color: #252525;
    border-radius: 8px;
    border: none;
    padding: 15px;
    color: var(--accent-blue);
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 1.1rem;
    transition: 0.3s;
}

.btn-task-trigger:hover {
    background-color: #2c2c2c;
}

.task-input-card {
    background-color: #252525;
    border-radius: 8px;
    border: none;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.task-field {
    background: transparent;
    border: none;
    outline: none;
    color: white;
    width: 100%;
    font-size: 1rem;
}

.task-check-icon {
    color: #767676;
    font-size: 1rem;
}

.d-none {
    display: none !important;
}

/* las listas esas que aparecen jaja */

.task-list {
    list-style: none;
    padding: 0;
    margin-bottom: 10px;
    width: 100%;
}


.task-item {
    background-color: #252525;
    border-radius: 8px;
    color: #ffffff;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 8px;
    animation: fadeIn 0.3s ease;
}

.task-check {
    cursor: pointer;
    color: var(--accent-orange);
    filter: drop-shadow(0 0 5px var(--accent-orange));
    font-size: 1.2rem;
    transition: color 0.4s;
}

.task-check:hover {
    color: var(--accent-blue);
    filter: drop-shadow(0 0 5px var(--accent-blue-light));
}

.completed .task-text {
    text-decoration: line-through;
    color: #767676;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}